# ==============================================================================
# Configuracao do Servidor OTA (Over-The-Air)
# ==============================================================================

# Porta HTTP onde o servidor ira escutar
OTA_PORT=8080

# IP da sua maquina enviado para os ESP32 baixarem o firmware.
# 'auto' detecta automaticamente o IP da placa Wi-Fi/Ethernet.
OTA_EXTERNAL_HOST=auto

# Diretorio local onde ficam os binarios (.bin) compilados pelo PlatformIO
STORAGE_DIR=./storage

# Conexao com o Broker MQTT (Mosquitto)
# Como o Mosquitto roda em Docker neste mesmo computador, use 'localhost'
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USER=
MQTT_PASS=

# Prefixo base dos topicos MQTT
MQTT_TOPIC_BASE=devices
