[secrets]
wifi_ssid = YourWiFiSSID
wifi_pass = YourWiFiPassword
mqtt_host = 192.168.1.100
mqtt_port = 1883
mqtt_user = ""
mqtt_pass = ""
mqtt_topic_base = devices
sensor_read_interval_ms = 5000
health_check_interval_ms = 30000
